# Хотим игнорировать test.txt
test.txt

# Хотим игнорировать папку ng_modules
ng_modules/

# Хотим игнорировать все html файлы
*.html

# Но конкретно файл 3.html не игнорируй
!3.html

# Игнорируй rar файлы в корне проекта
# Но допустим файл 1.rar, лежащий в другой папке, не будет проигнорирован, т.к. он не в корне
/*.rar


x64/

2.txt
